#top{
    width: 1903px;
    height: 48px;
    background-color: black;
    margin: 0 auto;
}
.box1{
    width: 1240px;
    height: 48px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0 20px;
    color: white;
    text-align: center;
    line-height: 48px;
    font-family: Microft YaHei;
    font-size: 12px;
}
.box2{
    width: 1903px;
    height: 82px;
}
.box21{
    width: 1280px;
    height: 82px;
    margin: 0 auto;
    position: relative;
    
}
.box21 .kehuzhongxin{
    width: 515px;
    height: 60px;
    line-height: 60px;
    color: #241f20;
    font-size: 12px;
    padding: 11px 0;
    float: left;
}
.box21 img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -25px;
}
.box21you{
    width: 515px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -30px;
}
.box21top1{
    width: 48px;
    height: 60px;
    position: absolute;
    left: 240px;
    font-size: 12px;
    line-height: 60px;
}
.box21top2{
    width: 79px;
    height: 60px;
    position: absolute;
    left: 330px;
    font-size: 12px;
    line-height: 60px;
}
.box21top3{
    width: 83.05px;
    height: 60px;
    position: absolute;
    right: 0;
    font-size: 12px;
    line-height: 60px;
}
.box3{
    width: 1903px;
    height: 48px;
}
.box31{
    width: 1280px;
    height: 48px;
    margin: 0 auto;
}
.box31 ol li{
    font-size: 12px;
    line-height: 48px;
    float: left;
    list-style: none;
    margin-right: 24px;
    padding-right: 50px;
}
.box31 .caizhuang:hover{
    background-color: pink;
}
.box31 .wrapper{
    width: 1280px;
    height: 320px;
    float: left;
}
.box31 .box311{
    width: 125px;
    height: 48px;
    background-color: black;
    float: right;
    padding: 0 15px 0 20px;
}
.box31 .box311 p.zuo111{
    width: 106px;
    color: white;
    font-size: 14px;
    line-height: 48px;
    float: left;
}
.box31 .box311 p.you111{
    width: 19px;
    color: white;
    font-size: 14px;
    line-height: 48px;
    float: right;
}
.box4 a{ 
    width: 1903px;
    height: 773px;
    display: block;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/3.webp);
}
.box5{
    width: 1280px;
    height: 747px;
    padding: 100px 0 50px;
    margin: 0 311.5px;
}
.box51 p{
    width: 1280px;
    height: 14.39px;
    margin: 0 0 16px;
    font-size: 12px;
    line-height: 14.39px;
    text-align: center;
    font-family: Singulier-Regular;
}
.box52 p{
    width: 1280px;
    height: 36px;
    margin: 0 0 46px 0;
    line-height: 36px;
    text-align: center;
    font-size: 30px;
    text-decoration: double;
    font-family: Singulier-Regular;
}
.box53{
    width: 1280px;
    height: 634.75px;
    position: relative;
}
.box531{
    width: 1280px;
    height: 48px;
    border-bottom:1px solid #e5e5e5 ;
}
.box531 ul{
    width: 419px;
    height: 48px;
    margin: 0 auto;
}
.box531 ul li{
    width: 82px;
    height: 25px;
    float: left;
    padding: 0 0 23px;
    margin: 0 10px;
    list-style: none;
    text-align: center;
}
.box531 ul li a{
    width: 32px;
    height: 25px;
    padding: 0 25px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-family: Singulier-Regular;
}
.box532{
    width: 1280px;
    height: 540.75px;
    position: absolute;
    bottom: 0;
}
.box532 img{
    float: left;
}
.box5321{
    width: 760px;
    height: 490.75px;
    float: right;
    position: relative;
}
.box53211{
    width: 240px;
    height: 454.75px;
    padding: 0 0 36px;
    position: absolute;
    left: 0;
}
.box53212{
    width: 240px;
    height: 454.75px;
    padding: 0 0 36px;
    position: absolute;
    left: 50%;
    margin-left: -120px;
}
.box53213{
    width: 240px;
    height: 454.75px;
    padding: 0 0 36px;
    position: absolute;
    right: 0;
}
.box53211p{
    width: 48px;
    height: 22px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    color: white;
}
.box532111{
    width: 240px;
    height: 184.75px;
    margin: 30px 0 0 0;
    position: absolute;
    bottom: 36px;
}
.box532111 p{
    width: 180px;
    height: 16.8px;
    margin: 0 30px 8px;
    font-size: 14px;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
    text-align: center;
    line-height: 17px;
    
}
.box532111 .p1{
    width: 188px;
    height: 28px;
    margin: 0 26px 14px;
}
.box532111 .xingxing{
    width: 188px;
    height: 22px;
    margin: 0 26px 14px;
    line-height: 22px;
}
.box532111 img{
    width: 170px;
    height: 24px;
    margin: 0 35px 14px;
}
.box532111 .lc1{
    width: 199.92px;
    height: 10px;
    margin: 0 0 15px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    left: 20px;
    bottom: 18.95px;
    color: #666666;
}
.box532111 .lc2{
    width: 240px;
    height: 18.95px;
    position: absolute;
    bottom: 0;
    margin: 0;
}
.box6{
    width: 1903px;
    height: 598.91px;
    padding: 100px 0;
    background-color: rgb(250, 205, 213);
    margin: 0 auto;
    background-color: #f2f2f2;
}
.box6t{
    width: 1903px;
    height: 14.39px;
    font-size: 12px;
    margin: 0 0 16px;
    text-align: center;
    line-height: 14.39px;
    font-weight: lighter;
    letter-spacing: 3px;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
}
.box6guanwang{
    width: 1903px;
    height: 36px;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 46px;
    text-align: center;
    line-height: 30px;
    font-family:  "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
}
.box60{
    width: 1308px;
    height: 486.52px;
    margin: 0 auto;
}
.box61{
    width: 299px;
    height: 486.52px;
    float: left;
    padding: 0 14px;
}
.box611{
    width: 229px;
    height: 142.39px;
    padding: 50px 35px 35px;
}
.box611 .make{
    width: 229px;
    height: 26.39px;
    margin: 0 0 18px;
}
.box611 .make a{
    height: 26.30px;
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
}
.xiao{
    font-size: 12px;
    color: #999;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
}
.xiangqing{
    width: 229px;
    height: 21px;
    margin: 36px 0 0;
}
.xiangqing a{
    font-size: 12px;
    color: black;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
}
.box7 a{
    width: 1903px;
    height: 687px;
    display: block;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/15.jpg);
}
.box8{
    width: 1298px;
    height: 631.58px;
    margin: 0 302.5px;
    padding: 100px 0;
}
.box8 .yslword{
    width: 1298px;
    height: 14.39px;
    margin: 0 0 16px;
    font-size: 12px;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-weight: lighter;
}
.box8 .faxian{
    width: 1298px;
    height: 36px;
    margin: 0 0 46px;
    font-size: 30px;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
    text-align: center;
    font-weight: bold;
}
.box81{
    width: 241px;
    height: 500px;
    float: left;
    padding: 0 9px 18px;
    position: relative;
}
.box81 .img16{
    position: absolute;
    top: 0;
}
.box81 .img20{
    position: absolute;
    bottom: 18px;
}
.box82{
    width: 500px;
    height: 500px;
    float: left;
    padding: 0 9px 18px;
    position: relative;
}
.box81 .img18{
    position: absolute;
    top: 0;
}
.box81 .img21{
    position: absolute;
    bottom: 18px;
}
.box81 .img19{
    position: absolute;
    top: 0;
}
.box81 .img22{
    position: absolute;
    bottom: 18px;
}
.box9{
    width: 1903px;
    height: 575.91px;
    background-color: black;
}
.box90{
    width: 1903px;
    height: 150px;
    border-bottom: 1px solid #272727;
}
.box91{
    width: 1440px;
    height: 150px;
    margin: 0 auto;
}
.box911{
    width: 359.25px;
    height: 150px;
    float: left;
    border-right: 1px solid #272727;
}
.box912{
    width: 359.25px;
    height: 150px;
    float: left;
}
.box9111{
    width: 359.25px;
    height: 92px;
    padding: 32px 0;
    position: relative;
}
.xiangji{
    width: 359.25px;
    height: 46px;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/23.jpg) no-repeat center;
}
.xiangji1{
    width: 359.25px;
    height: 46px;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/24.jpg) no-repeat center;
}
.xiangji2{
    width: 359.25px;
    height: 46px;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/25.jpg) no-repeat center;
}
.xiangji3{
    width: 359.25px;
    height: 46px;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/26.jpg) no-repeat center;
}
.dujia{
    width: 359.25px;
    height: 14px;
    margin: 14px 0 0;
    color: #FFFFFFE6;
    font-size: 12px;
    text-align: center;
}
.dujia2{
    width: 359.25px;
    height: 14px;
    margin: 4px 0 0;
    color: #FFFFFF80;
    font-size: 12px;
    text-align: center;
}
.box92{
    width: 1280px;
    height: 149.91px;
    margin: 0 311.5px;
    padding: 58px 0;
}
.box92 ul{
    padding-right: 150px;
    float: left;
    list-style: none;
}
.box92 ul li a{
    color: #ffffffcc;
    line-height: 28px;
    font-size: 12px;
    text-decoration: none;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
}
.biaotou{
    color: #ffffffcc;
    font-size: 14px;
    line-height: 40px;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.box93{
    border-top: 1px solid #272727;
    width: 1280px;
    height: 48px;
    padding: 40px 0 70px;
    margin: 0 auto;
}
.box93 p{
    float: left;
    font-size: 12px;
    font-family: "Singulier-Regular", "Helvetica","PingFangSC-Regular","Arial","Times New Roman","微软雅黑","Microsoft YaHei",sans-serif;
    line-height: 12px;
    color: #ffffff4d;
}
.bottom{
    float: left;
    width: 1280px;
    height: 20px;
    margin: 16px 0 0;
}
.oly,.gongshang,.hu,.cookies{
    margin-right: 30px;
}
.hu2{
    margin-right: 250px;
}
.fixed a{
    width: 120px;
    height: 118px;
    position: fixed;
    top: 70%;
    right: 20px;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/27.png);
}
.fixed2 a{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 35%;
    right: 20px;
    background: url(C:/Users/conmer/Desktop/前端/YSL/images/28.png);
}